.carritoCard {
  margin-top: 4vw;
  color: white;
}

.carritoCard img {
  width: 6%;
}

.compra button {
  cursor: pointer;
  border-radius: 10px;
  padding-inline: 1.5vw;
  border: none;
  font-size: 15px;
  padding-top: 1vw;
  padding-bottom: 1vw;
  background: #180430;
  color: white;
  border: 1px solid rgb(135, 0, 224);
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.vaciarBtn button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: #92031b;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
  z-index: -1;
}
.vaciarBtn button:hover::before {
  width: 100%;
}

.finalizarBtn button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: rgb(135, 0, 224);
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
  z-index: -1;
}
.finalizarBtn button:hover::before {
  width: 100%;
}

.compra {
  display: flex;
  justify-content: center;
  margin-top: 15vw;
  color: white;
  gap: 40px;
}

.compraTotal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.carritoVacio {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
@media (max-width: 1800px) {
  .compra {
    margin-bottom: 10vw;
  }

 
 }


@media (max-width: 1200px) {
  .compra {
    gap: 30px;
  }
}

@media (max-width: 700px) {
  .compraTotal h3 {
    font-size: 2vw;
  }
  .carritoVacio {
    margin-top: 30%;
  }

}
@media (max-width: 600px) {
  

  .compra {
    margin-top: 20vw;
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }
  .compra button {
    padding: 3vw;
    padding-inline: 20vw;
  }
  .compraTotal {
    flex-direction: row;
  }

  .compra .compraTotal h3 {
    font-size: 4vw;
  }

  .vaciarBtn button,
  .finalizarBtn button {
    font-size: 5vw;
  }
  .carritoVacio img {
    width: 80%;
  }
  .carritoVacio a {
    font-size: 4vw;
  }
  .carrito {
    margin-top: 15vw;
  }
}
@media (max-width: 400px) {
 
  .compra {
    margin-top: 20vw;
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }
  .compra button {
    padding: 3.5vw;
    padding-inline: 17vw;
  }


  .compraTotal h3 {
    font-size: 5vw;
  }

  .vaciarBtn button,
  .finalizarBtn button {
    font-size: 4vw;
  }
  .carritoVacio {
    margin-top: 20%;
  }
}
