.detailContenedor {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.itemDetail {
    border: 0.8px solid #280550;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;    
}

.itemDetail img {
    width: 100%;
    height: 600px;
}
.itemDetailImg {
    width: 70%;
}
.itemDetailCompra {
    width: 30%;
}

.itemDetailImg h2 {
    color:#969696;
}
.itemDetailPrecio {
    color: #8f8e8e;
    text-align: center;
}
.itemDetailPrecio h2 , .itemDetailPrecio h3 i {
    color: rgb(135, 0, 224);
}
.itemDetailPrecio h4 {
    font-size: 13px;
    padding-top: 20px;
}
.itemDetailPrecio small {
    font-size: small;
    vertical-align: super;
}

.sinStock  {
    color: #ca0808;
}





.cuotas {
    position: relative;
    top: 3vw;
}


.terminarCompra {
    position: relative;
    top: 2vw;
    border: 0.8px solid #280550;
    padding: 0.8vw;
    overflow: hidden;
    display: inline-block;
}

.terminarCompra::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: #280550;
    top: 0;
    left: 0; 
    transition: width 0.5s ease-in-out;
    z-index: -1;
}

.terminarCompra:hover::before {
    width: 100%;
}

.terminarCompra:hover span {
    color: white;
    z-index: 1;
}


.detailCuotas {
    position: relative;
    top: 2vw;
}

.detailTerminar {
    position: relative;
    top: 1.3vw;
    border-radius: 1vw;
    border: none;
    background: #50465c5b;
   color: white;
    transition: 0.6s;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-inline: 0.5vw;
    font-size: 1.2vw;
}

@media (max-width:500px) {
    .itemDetailPrecio h3 {
        font-size: 4vw;
    }
    .itemDetail {
        padding: 10px;
        margin-top: 10vw;
    }
    .itemDetailPrecio .detailCuotas {
        font-size: 2.5vw;
    }
    .itemDetailImg img {
        width: 100%;
        height: 80%;
    }
    .detailContenedor {
        margin-bottom: 50vw;
    }
}